@import '../variables.less';
@import '../basic.less';

.Login {
    &-container {
        padding: 20px;
        padding-bottom: 20px;
        min-width:300px;
        .box-border;
    }
    &-TextBox {
        //width: 100%;
    }
    input {
    	color: black;
    }
    &-error {
        color: #d04;
        font-size: 15px;
        padding-left: 10px;
    }
    &-spacer {
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        //color: #bbb;
        color: #55f;
    }
    &-helper {
    	//color: #ddd;
        color: #00f;
        padding: 10px;
        font-size: 12px;
        
        input {
            vertical-align: bottom;
        }
        
        &-forgot {
            float: right;
            color: #00f;
        }
    }
    input[type=submit] {
        .antyka-button;
    }

    &-link {
        .antyka-link-button;
    }

}
