/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.RegisterPage {
    
    &-container {
       background-color: #789;
       input[type=submit] {
            color: black;
            border: none;
            font-size: 1.125em;
            padding: 3px 8px;
            margin-left: 2%;
            width: 95%;
            float: left;
            background: rgba(255, 255, 255, .5);
            &:hover {
                background: rgba(255, 255, 255, .8);
            }
        }
    }
    &-textbox {
        width: 100%;
    }
}
